.posts {
  list-style: none;
  margin: 0;
}
.post {
  margin: 1rem 0;
  a {
    color: #000000;
    background: #f4f4f4;
    display: block;
    padding: 1rem;
    text-decoration: none;

    &:hover {
      background: #e4e4e4;
    }
  }
}

.postTitle {
  margin-bottom: 0;
}
.postPublishedDate {
  color: #777777;
  font-size: 0.8rem;
  font-style: italic;
}
