.header {
  padding: 1rem 0 3rem;
}
.title {
  color: #000000;
  font-size: 3rem;
  text-decoration: none;
}

.nav-list {
  display: flex;
  list-style: none;
  margin: 0;
}

.nav-item {
  text-decoration: none;
  color: #999999;
  margin-right: 1.3rem;
  font-size: 1rem;

  &:hover {
    color: #666666;
  }
}

.acive-nav-item {
  color: #333333;
}
